body {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */

.component {
  cursor: pointer;
  background: white;
  font-size: 18px;
  transition: 0.2s;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */

/* Darker background-color on hover */

/* Style the header */
.header {
  background-color: white;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 5px;
  border-style: solid;
  background: rgb(42, 42, 238);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: blue;
}
