.add-body {
  width: 30%;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.LiComponent3 {
  display: flex;
  justify-content: space-between;
}
.component {
  cursor: pointer;
  background: white;
  font-size: 18px;
  transition: 0.2s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  margin-top: 10px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  background-color: white;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.delete-position {
  display: flex;
  justify-content: flex-end;
}
.delete {
  box-sizing: border-box;
  width: 20%;
  height: 30px;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
